{%extends 'istagram/base.html'%}
{% load staticfiles%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container-fluid" style="margin-top:70px">
        <h1 id="mainheading" style="text-align:center; color: black; padding-bottom: 20px;" class="display-3">Welcome</h1>
      <div class="row">
          {% for image in posts %}
          <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 mx-auto mb-3">
              <div class="card">
                  <div class="card-body">
                        <img src="{{ image.image.url}}" alt="" class="img-responsive img-fluid">
                  </div>

              </div>
            
          </div>
          {% endfor %}
      </div>
      </div>
    </body>
    </html>
{% endblock %}